<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ViBaCarApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViBaCar">
        <activity
            android:name=".activitats.XatActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.RecuperaContrasenyaActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.DetallViatgeActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.CrearViatgeActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.PantallaPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.VerificaCorreuActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.ConfiguraPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.CrearCompteActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.IniciSessioActivity"
            android:exported="false" />
        <activity
            android:name=".activitats.PantallaBenvingudaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
